@model IList<ReplyComment>
@{
	IList<Customer> customer = ViewBag.Customer;
}
@foreach (var item in Model)
{
	if (item.CommentID == ViewBag.PostCommentID)
	{
		var pd = customer.FirstOrDefault(p => p.CustomerID == item.CustomerID);
		<div class="single-comment-body child">
			<div class="comment-text-body">
				<h4>@pd.UserName<span class="comment-date">@item.CreateDate</span> <a href="#">reply</a></h4>
				<p>@item.Messeage</p>
			</div>
		</div>
	}
	else
	{
		<div class="single-comment-body child">
			<p>Chưa có phản hồi</p>
		</div>
	}

}
