@model Bandodientu.Models.Contact
@{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận xóa menu</h2>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="ContactID">ContactID</label>
            <input type="text" class="form-control mb-3" asp-for="ContactID" disabled>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Name">Name</label>
            <input type="text" class="form-control mb-3" asp-for="Name" disabled>
        </div>
    </div>
    <form asp-action="Delete" methoad="post">
        <input type="hidden" asp-for="ContactID" />
        <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i>Quay lại
        </a>
        <button type="submit" class="btn btn-lg btn-danger p-2">
            <i classs="bi bi-trash-fill"></i>Xóa menu
        </button>
    </form>
</main>