@using Bandodientu.Utilities;
@model Bandodientu.Models.PostComment
@{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận sửa bình luận</h2>
    </div>
    <div class="container shadow p-5">
        <div class="row pb-2">
            <h2>Sửa bình luận</h2>
        </div>
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="All"></div>
            <div class="form-row">
                <input type="text" class="form-control mb-3" asp-for="CommentID" type="hidden">
                <div class="form-group col-md-6">
                    <label asp-for="Name">Name</label>
                    <input type="text" class="form-control mb-3" asp-for="Name" placeholder="Nhập tiêu đề">
                    <span asp-validation-for="Name" class="alert-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Email">Email</label>
                <input type="text" class="form-control mb-3" asp-for="Email">
            </div>
            <div class="form-group col-md-12">
                <label asp-for="CreateDate">Date</label>
                <input type="text" class="form-control mb-3" asp-for="CreateDate">
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Message">Messeage</label>
                <input type="text" class="form-control mb-3" asp-for="Message">
            </div>
            <div class="form-group col-md-12">
                <label asp-for="PostID">PostID</label>
                <input type="text" class="form-control mb-3" asp-for="PostID">
            </div>
            <div class="form-group col-md-6 mt-3 mb-3">
                <label>
                    @Html.CheckBox("IsActive",false)
                    Hiển thị
                </label>
            </div>   
            <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Lưu</button>
            <a asp-controller="PostComment" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
        </form>
    </div>
</main>
