
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Single News</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="Contact/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="Contact/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="Contact/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="Contact/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="Contact/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="Contact/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="Contact/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="Contact/css/responsive.css">
	<style>
		.hidden-message {
			display: none;
		}
	</style>
</head>
<body>
	@RenderBody()
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	@await RenderSectionAsync("Scripts4", required: false)
	@await RenderSectionAsync("Scripts5", required: false)
	@await RenderSectionAsync("Scripts3", required: false)
	@await RenderSectionAsync("Scripts6", required: false)
	@await RenderSectionAsync("Scripts7", required: false)
	@await RenderSectionAsync("Scripts8", required: false)
	<!-- end copyright -->
	<!-- jquery -->
	<script src="Contact/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="Contact/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="Contact/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="Contact/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="Contact/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="Contact/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="Contact/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="Contact/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="Contact/js/sticker.js"></script>
	<!-- main js -->
	<script src="Contact/js/main.js"></script>
	<script>
		function navigateToHome() {
			window.location.href = "https://localhost:7295/";
		}
	</script>

</body>
</html>