@using Bandodientu.Utilities;
@model Bandodientu.Models.OrderDetail
@{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Chi tiết</h2>
    </div>
    <div class="container shadow p-5">
        <form>
            <div asp-validation-summary="All"></div>
            <div class="form-row">
                <input type="text" class="form-control mb-3" asp-for="OrderDetailID" type="hidden">
                <div class="form-group col-md-6">
                    <label asp-for="OrderID">OrderID</label>
                    <input type="text" class="form-control mb-3" asp-for="OrderID">
                    <span asp-validation-for="OrderID" class="alert-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ProductID"></label>
                <input type="text" class="form-control mb-3" asp-for="ProductID">
                <span asp-validation-for="ProductID" class="alert-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Price">Price</label>
                <input type="text" class="form-control mb-3" asp-for="Price">
            </div>
            <a asp-action="Edit" asp-route-id="@Model.OrderDetailID">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</main>
