@using Bandodientu.Areas.Admin.Models;
@model Bandodientu.Models.Product
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm mới sản phẩm</h2>
    </div>
    <form asp-action="Create" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="MenuID">Chọn mục</label>
                <select asp-for="MenuID" class="form-control"
                    asp-items="@(new SelectList(ViewBag.mnList,"Value","Text"))">
                </select>
                <span asp-validation-for="MenuID" class="alert-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="ProductName">ProductName</label>
                <input type="text" class="form-control mb-3" asp-for="ProductName">
            </div>
            <div class="form-group col-md-12">
                <label asp-for="OriginalPrice">OriginalPrice</label>
                <input type="text" class="form-control mb-3" asp-for="OriginalPrice">
            </div>
            <div class="form-group col-md-12">
                <label asp-for="DiscountedPrice">DiscountedPrice</label>
                <input type="text" class="form-control mb-3" asp-for="DiscountedPrice">
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Description">Description</label>
                <input type="text" class="form-control mb-3" asp-for="Description">
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Color">Color</label>
                <input type="text" class="form-control mb-3" asp-for="Color">
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Quantity">Quantity</label>
                <input type="text" class="form-control mb-3" asp-for="Quantity">
            </div>
            <div class="form-group col-md-12">
                <label asp-for="DiscountCode">DiscountCode</label>
                <input type="text" class="form-control mb-3" asp-for="DiscountCode">
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Images</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-success" type="button" onclick="openDialog()">Choose a pic</button>
                    </div>
                    <input type="text" class="form-control" asp-for="Image" id="file_input" aria-describedby="button-addon2" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Contents">Content</label>
                <textarea asp-for="Contents" class="form-control"></textarea>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="New">New</label>
                <input type="text" class="form-control mb-3" asp-for="New">
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Link">Link</label>
                <input type="text" class="form-control mb-3" asp-for="Link">
            </div>
            <div class="form-group col-md-6 mt-3 mb-3">
                <label>
                    @Html.CheckBox("IsAction",false)
                    Hiển thị
                </label>
            </div>
        </div>
        <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i>Quay lại
        </a>
        <button type="submit" class="btn btn-lg btn-danger p-2">
            <i claas="bi bi-trash-fill"></i>Lưu lại
        </button>
    </form>
</main>
@{
    var summerNoteFiles = new Bandodientu.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNoteFiles" model="summerNoteFiles" />
}