@model Bandodientu.Models.Product
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận sửa sản phẩm</h2>
    </div>
    <div class="container show p-5">
        <div class="row pb-2">
            <h2>Sửa sản phẩm</h2>
        </div>

        <form method="post" asp-action="Edit">
            <div asp-validation-summary="All"></div>
            <div class="form-row">
                <input type="text" class="form-control mb-3" asp-for="ProductID" type="hidden">
                <div class="form-group col-md-6">
                    <label asp-for="ProductName">ProductName</label>
                    <input type="text" class="form-control mb-3" asp-for="ProductName" placeholder="Nhập tên sản phẩm">
                    <span asp-validation-for="ProductName" class="alert-danger"></span>
                </div>
            </div>
            <div class="form-row">
                  <div class="form-group col-mb-6">
                        <label asp-for="OriginalPrice">OriginalPrice</label>
                        <input type="text" class="form-control mb-3" asp-for="OriginalPrice" placeholder="Nhập giá sản phẩm" />
                        <span asp-validation-for="OriginalPrice" class="alert-danger"></span>
                  </div>
                    <div class="form-group col-mb-6">
                        <label asp-for="DiscountedPrice">DiscountedPrice</label>
                        <input type="text" class="form-control mb-3" asp-for="DiscountedPrice" placeholder="Nhập giá khuyến mãi sản phẩm" />
                        <span asp-validation-for="DiscountedPrice" class="alert-danger"></span>
                    </div>
                    <div class="form-group col-mb-6">
                        <label asp-for="Description">Description</label>
                        <input type="text" class="form-control mb-3" asp-for="Description" placeholder="Nhập mô tả sản phẩm" />
                        <span asp-validation-for="Description" class="alert-danger"></span>
                    </div>
                    <div class="form-group col-mb-6">
                        <label asp-for="Color">Color</label>
                        <input type="text" class="form-control mb-3" asp-for="Color" placeholder="Nhập màu sản phẩm" />
                        <span asp-validation-for="Color" class="alert-danger"></span>
                    </div>
                    <div class="form-group col-mb-6">
                        <label asp-for="Quantity">Quantity</label>
                        <input type="text" class="form-control mb-3" asp-for="Quantity" placeholder="Nhập số lượng sản phẩm" />
                        <span asp-validation-for="OriginalPrice" class="alert-danger"></span>
                    </div>
                    <div class="form-group col-mb-6">
                        <label asp-for="DiscountCode">DiscountCode</label>
                        <input type="text" class="form-control mb-3" asp-for="DiscountCode" placeholder="Nhập mã giảm giá sản phẩm" />
                        <span asp-validation-for="DiscountCode" class="alert-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Images</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-success" type ="button" onclick="openDialog()">Choose a pic</button>
                            </div>
                            <input type ="text" class="form-control" asp-for="Image" id="file_input" aria-describedby="button-addon2" />
                        </div>
                    </div>
                    <div class="form-group col-mb-6">
                        <label asp-for="New">New</label>
                        <input type="text" class="form-control mb-3" asp-for="New" placeholder="Nhập sản phẩm mới hoặc không" />
                        <span asp-validation-for="New" class="alert-danger"></span>
                    </div>
                        <div class="form-group col-mb-6">
                            <label asp-for="Link">Link</label>
                            <input type="text" class="form-control mb-3" asp-for="Link" placeholder="Nhập link sản phẩm" />
                            <span asp-validation-for="Link" class="alert-danger"></span>
                        </div>
                        <div class="form-group col-mb-6">
                            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                            <label asp-for="MenuID">Chọn mục</label>
                            <select asp-for="MenuID" class="form-control"
                            asp-items="@(new SelectList(ViewBag.mnList,"Value","Text"))"></select>
                        </div>
                        <div class="form-group col-md-6 mt-3 mb-3">
                            <label>
                                @Html.CheckBox("IsActive",false)
                                Hiển thị
                        </label>
                </div>
                    </div>
            <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Lưu</button>
            <a asp-controller="Product" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
        </form>
    </div>
</main>
@{
    var summerNoteFiles = new Bandodientu.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNoteFiles" model="summerNoteFiles" />
}