@model IList<Menu>
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				@foreach (var item in Model)
				{
					<li><a href="/@item.ControllerName/@item.ActionName">@item.MenuName</a></li>
				}
			</ul>
			<!-- /NAV -->
		</div>
	</div>
</nav>